{
  "nick": "YourBestFriend",
  "server": "irc.chat.com",
  "port": 6667,
  "target": "TestUser",
  "host": "TargetPartialHostMatch",
  "channel": "#cs",
  "timing": 100,
  "ssl": true,
  "debug": false
}